<!DOCTYPE html>
		<html>
		<head>
			<title>My Charity A Charity  category Flat bootstrap Responsive  Website Template|About :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!--js-->
<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="My Charity Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<style>
img {
    vertical-align: middle;
    width: 131px;
    height: 69px;
}
font {
    font-family: Kristen ITC;
    color: #7B1B06;
    font-size: 20px;
}

.button{
	
}



</style>
<!-- //end-smoth-scrolling -->
		</head>
		<body>
		
	<div class="mothergrid">
	<div class="container">
		<div class="header">
			<div class="logo">
			<div class="col-md-12 logo-left">
				<a href="home.html"><h4><label>Logo</label> &nbsp <strong><font size="4.5">Step Towrads Betterment</font></strong></h4> </a>
			</div></div>
			<span class="menu"> <img src="images/icon.png" alt=""/></span>
			<div class="clear"> </div>
			<div class="navg">
			<div class="col-md-12 navg-left">
				<ul class="res">
					<li><a class="active" href="home.html">HOME</a></li>
					<li><a href="about.html">ABOUT US</a></li>
					<li><a href="projects.html">WHAT WE DO</a></li>
					<li><a href="blog.html">OUR IMPACT</a></li>
					<li><a href="events.html">EVENTS</a></li>
					
					<li><a href="contact.html">CONTACT US</a></li>
				</ul>
				 <script>
			                                                      $( "span.menu").click(function() {
			                                                                                        $(  "ul.res" ).slideToggle("slow", function() {
			                                                                                         // Animation complete.
			                                                                                         });
			                                                                                         });
		                                                     </script>
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
</div>












<div class="button">




<br></br>

<h2  align="center">Excellence School and College</h2>
<br></br>


<p> 	vfej jifjv  jmvhefv vdj8ef ebvnd divje8 hb eusd ffhdvhdv7rgv vdu he7gefyvjsh7eyfawd   fy hf7fh fsf fhyfhvb h hfys dbfysd7b hyf   fhfhs8 uhf  fhhf fuhfusfjusf hfu fhsufsu udsfuff subha dujsd bu jsdnc8d  cndsijf8f csdcjufev jcijc dsddiuh midwfygdad cidsjc8dhcdnd hjdsdhcud bjd8hd jufhddnu subahsn jdud njjdsb jdjudb jdjd dj dcjdhdnc jdiJADC subhasd jcs n ujs hifn jv9fuvh jisduh vhdjv8e djis9c nudjc aud fjefj fn jf nvdfuj  jdfhb nfuj j cjj jnc</p>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>







<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="footer-navg">
				<ul>
					<li><a class="active" href="home.html">HOME</a></li>
					<li><a href="about.html">ABOUT US</a></li>
					<li><a href="WWD.html">WHAT WE DO</a></li>
					<li><a href="impact.html">OUR IMPACT</a></li>
					<li><a href="events.html">EVENTS</a></li>
					
					<li><a href="contact.html">CONTACT US</a></li>
				</ul>
			</div>
			
			<div class="footer-bottom">
				<p>Facebook link <a href="https://www.facebook.com/BettermentStepTowards/?hc_ref=SEARCH&fref=nf"> Step Towards Betterment </a> </p>
			</div>
		<div class="clearfix"> </div>
			<script type="text/javascript">
										$(document).ready(function() {
											/*
											var defaults = {
									  			containerID: 'toTop', // fading element id
												containerHoverID: 'toTopHover', // fading element hover id
												scrollSpeed: 1200,
												easingType: 'linear' 
									 		};
											*/
											
											$().UItoTop({ easingType: 'easeOutQuart' });
											
										});
									</script>
						<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
	</div>
</div>



		</body>
		</html>		