<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/-->

<!DOCTYPE html>
<html>
<head>
<title>My Charity A Charity  category Flat bootstrap Responsive  Website Template| Contact :: w3layouts</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/styles.css" rel="stylesheet" type="text/css" media="all"/>
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!--js-->
<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="My Charity Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
</head>
<body>
<!--header start here-->
<div class="mothergrid">
	<div class="container">
		<div class="header">
			<div class="logo">
			<div class="col-md-12 logo-left">
				<a href="home.html"> <h4><strong><label>Logo</label> &nbsp <font size="4.5">Step Towrads Betterment</font></strong></h4> </a>
			</div></div>
			<span class="menu"> <img src="images/icon.png" alt=""/></span>
			<div class="clear"> </div>
			<div class="navg">
			<div class="col-md-12 navg-left">
				<ul class="res">
					<li><a href="home.html">HOME</a></li>
					<li><a href="about.html">ABOUT US</a></li>
					<li><a href="#">WHAT WE DO</a></li>
					<li><a href="#">OUR IMPACT</a></li>
					<li><a href="events.html">EVENTS</a></li>
					
					<li><a  class="active" href="contact.html">CONTACT US</a></li>
				</ul>
				 <script>
			                                                      $( "span.menu").click(function() {
			                                                                                        $(  "ul.res" ).slideToggle("slow", function() {
			                                                                                         // Animation complete.
			                                                                                         });
			                                                                                         });
		                                                     </script>

<style>
img {
    vertical-align: middle;
    width: 131px;
    height: 69px;
}
font {
    font-family: Kristen ITC;
    color: #7B1B06;
    font-size: 20px;
}
.ContactTeam{
	background: #f1f1f1;
    float: left;
    margin: 0 0 10px;
    padding: 10px;
    width: 98%;
    

}
.names{
	margin-left: -500px;
}

}
</style>
		                                                     
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--heder end here-->
<!--contact start here-->
<div class="contact">
	<div class="container">
		<div class="contact-main">

			<h3>CONTACT US</h3>
			<p>"comajn cdcuc c ufjcehce cjcmidhcb cdncudchdec fcjeuchdecbedc dnj eiuche nc djcedchudjwd dc uehdcyuehduwjd scjdwdhwdj cn cjdcudhwd nd cjdcndcw dndncuiheced cjdcnuwhdedbc decwduheudchdjwded ceudwidnwhd udcudehuijuiqdds cndnuiduwdhdjwndihwuwkdnjudwidufhecnuwdhuw hndudwhuw dnhwdnuwd seeeeee
			hnuddnudhndndjndij d jdn dwdnudnd nucjdujd ndjudj dndwddu ndwidnwdejdd jndujd cnudjuedd dnnjnduwjd cjddihdrbd cudjudfe cnnuhdu vjfuehd nedn jjjnj comajn cdcuc c ufjcehce cjcmidhcb cdncudchdec fcjeuchdecbedc dnj eiuche nc djcedchudjwd dc uehdcyuehduwjd scjdwdhwdj cn cjdcudhwd nd cjdcndcw dndncuiheced cjdcnuwhdedbc decwduheudchdjwded ceudwidnwhd udcudehuijuiqdds cndnuiduwdhdjwndihwuwkdnjudwidufhecnuwdhuw hndudwhuw dnhwdnuwd seeeeee
			hnuddnudhndndjndij d jdn dwdnudnd nucjdujd ndjudj dndwddu ndwidnwdejdd jndujd cnudjuedd dnnjnduwjd cjddihdrbd cudjudfe cnnuhdu vjfuehd nedn jjjnj
			</p>
			<br></br>







<br></br>
<br></br>




			<div class="ContactTeam">
			<div class="names">
			
			<p>Birth Subhash</p>
			<p><strong>CEO-Step Towards Betterment</strong></p>
			<p><strong>Student at IBA Karachi</strong></p>
			<p>birthsubhash@gmail.com</p>
			<p>Contact: 0336-3414838</p></div>
		

		</div>
<div class="ContactTeam">
<div class="names">
			<p>Avinash Kumar</p>
			<p><strong>ED-Step Towards Betterment</strong></p>
			<p><strong>Student at IBA Karachi</strong></p>
			<p>avinash_kukreja@ymail.com</p>
			<p>Contact: 0313-3427649</p></div>
		</div>


<div class="ContactTeam">
<div class="names">
			<p>Huda Irfan</p>
			<p><strong>CFO-Step Towards Betterment</strong></p>
			<p><strong>Student at IBA Karachi</strong></p>
			<p>huda.irfan@ymail.com</p></div>
		</div>



		<div class="ContactTeam">
<div class="names">
			<p>Prithvi Raj Soni</p>
			<p><strong>Director-Step Towards Betterment</strong></p>
			<p><strong>Student at IOBM Karachi</strong></p>
			<p>prajsoni3@gmail.com</p>
			<p>Contact: 0334-2546772</p></div>
		</div>


		<div class="ContactTeam">
		<div class="names">
			<p>Sairus Khatri</p>
			<p><strong>Manager-Step Towards Betterment</strong></p>
			<p><strong>Student at IOBM Karachi</strong></p>
			<p>std_17902@iobm.edu.p</p>
			<p>Contact: 0305-3033023</p>
		</div></div>



















		









	</div>
</div>
<!--contact end here-->
<!--get touch start here-->



<br></br>
<br></br>

<br></br>

<br></br>

<div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="footer-navg">
				<ul>
					<li><a class="active" href="home.html">HOME</a></li>
					<li><a href="about.html">ABOUT US</a></li>
					<li><a href="WWD.html">WHAT WE DO</a></li>
					<li><a href="impact.html">OUR IMPACT</a></li>
					<li><a href="events.html">EVENTS</a></li>
					
					<li><a href="contact.html">CONTACT US</a></li>
				</ul>
			</div>
			
			<div class="footer-bottom">
				<p>Facebook link <a href="https://www.facebook.com/BettermentStepTowards/?hc_ref=SEARCH&fref=nf"> Step Towards Betterment </a> </p>
			</div>
		<div class="clearfix"> </div>
			<script type="text/javascript">
										$(document).ready(function() {
											/*
											var defaults = {
									  			containerID: 'toTop', // fading element id
												containerHoverID: 'toTopHover', // fading element hover id
												scrollSpeed: 1200,
												easingType: 'linear' 
									 		};
											*/
											
											$().UItoTop({ easingType: 'easeOutQuart' });
											
										});
									</script>
						<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
	</div>
</div>
</body>
</html>